<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%p %d{HH:mm:ss.SSS} [%thread] \(%c{0}\) %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fcrepo.auth" additivity="false" level="${FCREPO_AUTH_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.config" additivity="false" level="${FCREPO_CONFIG_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.event" additivity="false" level="${FCREPO_EVENT_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.http.api" additivity="false" level="${FCREPO_HTTP_API_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.http.commons" additivity="false" level="${FCREPO_HTTP_COMMONS_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.jms" additivity="false" level="${FCREPO_JMS_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.kernel" additivity="false" level="${FCREPO_KERNEL_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.persistence" additivity="false" level="${FCREPO_PERSISTENCE_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.search" additivity="false" level="${FCREPO_SEARCH_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.storage" additivity="false" level="${FCREPO_STORAGE_LOG_LEVEL:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo" additivity="false" level="${FCREPO_LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.apache.activemq" additivity="false" level="${ACTIVEMQ_LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="edu.umd.lib" additivity="false" level="${UMD_LIB_LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="${LOG_LEVEL:-WARN}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
