<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>Fedora 4</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/classes/spring/repository.xml</param-value>
  </context-param>
  <context-param>
    <param-name>casServerUrlPrefix</param-name>
    <param-value>${umd.cas.serverURLPrefix}</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.fcrepo.http.commons.FedoraApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>authn-servlet</servlet-name>
    <servlet-class>edu.umd.lib.fcrepo.AuthnServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>logout-servlet</servlet-name>
    <servlet-class>edu.umd.lib.fcrepo.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>token-servlet</servlet-name>
    <servlet-class>edu.umd.lib.fcrepo.GenerateTokenServlet</servlet-class>
    <init-param>
      <param-name>secret</param-name>
      <param-value>${umd.jwt.secret}</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>authn-servlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logout-servlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>token-servlet</servlet-name>
    <url-pattern>/user/token</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ETagFilter</filter-name>
    <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ETagFilter</filter-name>
    <url-pattern>/static/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/errors/403.jsp</location>
  </error-page>

  <filter>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>casServerLoginUrl</param-name>
      <param-value>${umd.cas.serverURLPrefix}/login</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>${fcrepo.serverName}</param-value>
    </init-param>
    <init-param>
      <param-name>ignorePattern</param-name>
      <param-value>logout</param-value>
    </init-param>
  </filter>
  <!-- only redirect to login for unauthenticated users in the /user URL space -->
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>${umd.cas.serverURLPrefix}</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>${fcrepo.serverName}</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>JWT Bearer Token AuthNZ Filter</filter-name>
    <filter-class>edu.umd.lib.fcrepo.TokenAuthnzFilter</filter-class>
    <init-param>
      <param-name>secret</param-name>
      <param-value>${umd.jwt.secret}</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JWT Bearer Token AuthNZ Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Fedora Roles Filter</filter-name>
    <filter-class>edu.umd.lib.fcrepo.FedoraRolesFilter</filter-class>
    <init-param>
      <param-name>ldapURL</param-name>
      <param-value>${umd.ldap.url}</param-value>
    </init-param>
    <init-param>
      <param-name>baseDN</param-name>
      <param-value>${umd.ldap.baseDN}</param-value>
    </init-param>
    <init-param>
      <param-name>bindDN</param-name>
      <param-value>${umd.ldap.bindDN}</param-value>
    </init-param>
    <init-param>
      <param-name>bindPassword</param-name>
      <param-value>${umd.ldap.bindPassword}</param-value>
    </init-param>
    <init-param>
      <param-name>memberAttribute</param-name>
      <param-value>${umd.ldap.memberAttribute}</param-value>
    </init-param>
    <init-param>
      <param-name>adminGroup</param-name>
      <param-value>${umd.ldap.group.fedoraAdmin}</param-value>
    </init-param>
    <init-param>
      <param-name>userGroup</param-name>
      <param-value>${umd.ldap.group.fedoraUser}</param-value>
    </init-param>
  </filter>

  <!-- look up user role on any request to the /user or /rest URL spaces -->
  <!-- we can omit the /static and / (root) spaces, since those are not access-restricted -->
  <filter-mapping>
    <filter-name>Fedora Roles Filter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>

</web-app>
